.header {
	background: #36474e;
	font-size: 16px;
	color: #fff;
	padding: 0px;
}

.top-icon {
	max-width: 120px;
}

.info-group .title {
	font-size: 16px;
	margin: 3px 0;
}

.info-group .info {
	font-size: 30px;
	margin: 3px 0;
}

.list-exchange .list-exchange-item {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}

.list-exchange .list-exchange-item.active {
	background: #b7eacc;
}

.list-exchange .list-exchange-item .diamond-box {
	background: #e4ebf1;
	padding: 0 18px;
	border-radius: 18px;
}

.list-exchange .list-exchange-item .item-money span,
.list-exchange .list-exchange-item .item-diamond span{
	display: inline-block;
	font-size: 16px;
	line-height: 36px;
}
.list-exchange .list-exchange-item .item-diamond span{
	font-size: 14px;
}

.list-exchange .list-exchange-item .item-money img,
.list-exchange .list-exchange-item .item-diamond img{
	max-height: 30px;
	margin: 3px 0;
}
